body {
  background: orange;
}

td {
  width: 100;
  height: 100;
}

.md-table {
  background-color: #fff;
}

/* Primary row - base */
.md-table .parent-primary td.cell-master {
  background-color: #fff;
}

/* Alternate row - base */
.md-table tr.parent-alternate td.cell-master {
  background-color: #eff1f3;
}

/* Primary row -  primary child */
.md-table .parent-primary.child-primary td.cell-detail {
  background-color: rgb(238, 242, 243);
}

/* Primary row -  alternate child */
.md-table .parent-primary.child-alternate td.cell-detail {
  background-color: rgb(235, 238, 252);
}

/* Alternate row -  primary child */
.md-table .parent-alternate.child-primary td.cell-detail {
  background-color: rgb(245, 240, 211);
}

/* Alternate row -  alternate child */
.md-table .parent-alternate.child-alternate td.cell-detail {
  background-color: rgb(233, 229, 206);
}

/* Primary row -  primary child */
.md-table tr:hover.parent-primary td.cell-master,
.md-table tr:hover.parent-alternate td.cell-master,
.md-table tr:hover.parent-primary.child-primary td.cell-detail,
.md-table tr:hover.parent-primary.child-alternate td.cell-detail,
.md-table tr:hover.parent-alternate.child-primary td.cell-detail,
.md-table tr:hover.parent-alternate.child-alternate td.cell-detail {
  filter: brightness(95%);
}
