body {
  background: orange;
}

td {
  width: 100;
  height: 100;
}

.md-table {
  background-color: #fff;
}

/* Primary row - base */
.md-table .row-primary {
  background-color: #fff;
}

/* Alternate row - base */
.md-table .row-alternate {
  background-color: #eff1f3;
}

/* Primary row -  primary child */
.md-table .row-primary .cell-primary {
  background-color: rgb(238, 242, 243);
}

/* Primary row -  alternate child */
.md-table .row-primary .cell-alternate {
  background-color: rgb(235, 238, 252);
}

/* Alternate row -  primary child */
.md-table .row-alternate .cell-primary {
  background-color: rgb(245, 240, 211);
}

/* Alternate row -  alternate child */
.md-table .row-alternate .cell-alternate {
  background-color: rgb(233, 229, 206);
}

.md-table tr:hover,
.md-table tr:hover .cell-primary,
.md-table tr:hover .cell-alternate {
  background-color: #ededed;
}
